.popUPMain {
    position: fixed;
    top: 300px;
    left: 35%;
    width: 30%;
    background-color: whitesmoke;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 500px;
    z-index: 1;
    border: 2px solid gray;
    border-radius: 5%;
    padding: 15px;
}

 .modalButton {
    position: absolute;
    top: 16px;
    right: 16px;
    background-color: white;
    /* width: 100px; */
   
}